/*  your css code here. If applicable */
#photo-heading{
	border:1px solid black;
	text-align:center;
/* 	text-transform: uppercase; */
	color: white;
	padding: 20px;
	height:100%;
}
#animal-photos{
	border-radius:200px;
	padding:20px;
}

#main{
	background-color: gray;
}